.dockerignore
.DS_Store
.git
.gitkeep
.github
.gitignore
.gitlab-ci.yml
.gitmodules
Dockerfile
docker-compose.yml

app/*.example
app/node_modules/*
app/dist/*
ui/node_modules/*
ui/dist/*
assets/*