description: |
  Make the check() function return true

wrong_flag_message: Are you sure? Here' s nothing named flag ...

faucet:
  enabled: True
  amount: 10
  unit: ether
  limit:
    amount: 100
    unit: ether

deployer:
  balance:
    amount: 100000000
    unit: ether

contracts: 
  - type: source
    filename: chall.sol
    name: Challenge
    constructor:
      args: []
      value: "1000000000000000000"
      # gas: "0"
    checks: []
    visible: True
    show_file: True
    show_address: True
    show_filename: True

  - type: source
    filename: chall.sol
    name: Prover
    constructor:
      args: []
      value: "0"
      # gas: "0"
    checks:
      - func: check
        args: []
        value: "0"
        # gas: "0"
        check: True
    visible: True
    show_file: True
    show_address: True
    show_filename: True

solc:
  version: "0.7.6"
  evm_version: "istanbul"

genesis:
  chain_id: 1337
  timestamp: "0x609ac710"
  gas_limit: "0x1312d00"
  difficulty: "0x1"